body {
	background-color: LightGrey;
}

div {
	border: 1px solid Chocolate;
}
/*navigation section*/

.top-navigation {
	background-color: #fff
}
.top-navigation > .content {
	width: 768px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation > .content > .links {
	float: right;
}
.links > li {
	display: inline-block;
}
